/*! Course shuffle */

.course-offer-zone-count {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    height: 30px;
    margin-top: 20px;
    padding: 0px 10px;
    background-color: #F7F7F7;
    color: #565656;
    line-height: 30px;
    font-size: 14px
}

.course-offer-zone-count span{
    font-weight: bold;
}

.offer{
    width:100%;
    position: absolute;
    margin-top: -52px;
    background: rgba(255, 0, 0, .8);
    padding: 5px 0px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.offer-zone {
    position: relative;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,.13);
    -moz-box-shadow: 0 4px 5px 0 rgba(0,0,0,.13);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.13)
}

/* filters */
#filter {
    list-style-type: none;
    margin: 0;
    padding: 0
}
#filter li, #filter a {
    display:inline-block;
    margin: 15px 0px
}
#filter a {
    color:#999;
    font-size:14px;
    text-transform:uppercase;
    background: transparent;
    text-decoration: none;
    padding: 0px 10px 5px 10px;
    border-bottom: 2px solid transparent;
}
#filter a.active {
    border-bottom: 2px solid #0076a3;
    color: #0076a3
}

/* grid */
#grid {
    clear: both;
    position: relative
}

#grid img{
    width: 100%;
    height: auto
}
