table.sorting-table {
    cursor: ns-resize;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

table tr.sorting-row td {
    background-color: #f0f0f0;
}

table td.sorter {
    text-align: center;
    width: 10px;
    cursor: move;
    color: #FFB84D
}

table tr.nodrag td.sorter {
    cursor: default;
    background-color: #ddd;
}

.sort-handler {
    float: right;
    background-color: #f80;
    width: 14px;
    height: 14px;
    cursor: ns-resize;
}


table.sorting-table tbody tr:not(.sorting-row) td {
    opacity: 0.4;
}