
<section id="sub-header" class="padding-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hi-icon-wrap hi-icon-effect-8">
                <a href="#index" class="hi-icon icon-home">
                    <p>Home</p>
                </a>
                <a href="#profile" class="hi-icon icon-user-1">
                    <p>my profile</p>
                </a>
                <a href="#messages" class="hi-icon icon-email">
                    <p>messages</p>
                </a>
                <a href="#my_instructors" class="hi-icon icon-users-1">
                    <p>my instructors</p>
                </a>
                <a href="#reports" class="hi-icon icon-dollar">
                    <p>reports</p>
                </a>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-left">
                <h2>Registered Authors</h2>
            </div>
            <div class="col-md-4 no-padding margin-bottom-5">
                <div class="col-md-3 margin-top-7">Sort By :</div>
                <div class="col-md-9">
                    <div class="styled-select1">
                        <select class="form-control required" name="gender">
                            <option value="" selected>Top Seller</option>
                            <option value="male">Mostly Hire</option>
                            <option value="female">Top Hire Rate</option>
                            <option value="both">Low Hire Rate</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- End row -->

        <div class="row"><!-- search-->
            <div class="col-xs-10 col-md-6 col-lg-5 col-sm-8 pull-right margin-bottom-10">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Search here..." type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div>
        </div><!-- End row search-->

        <div class="row">
            <hr/>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_1_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_2_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_3_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_4_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_1_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_2_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_3_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="../../img/teacher_4_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                    <h5 class="text-center detail">
                        <strong>
                            <p>No.of Courses : 24</p><br/>
                            <p>No.of Enrollments : 1245</p>
                        </strong>
                    </h5>
                    <a href="" class="btn btn-success btn-xs">Request for Hire</a>
                    <hr>
                    <ul class="social_team">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                        <li><a href="#"><i class=" icon-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- End row -->

        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->

<script>new UISearch( document.getElementById( 'sb-search' ) );</script>