<section id="sub-header" class="padding-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hi-icon-wrap hi-icon-effect-8">
                <a href="#index" class="hi-icon icon-home">
                    <p>Home</p>
                </a>
                <a href="#profile" class="hi-icon icon-user-1">
                    <p>my profile</p>
                </a>
                <a href="#messages" class="hi-icon icon-email">
                    <p>messages</p>
                </a>
                <a href="#my_instructors" class="hi-icon icon-users-1">
                    <p>my instructors</p>
                </a>
                <a href="#reports" class="hi-icon icon-dollar">
                    <p>reports</p>
                </a>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center margin-top-50">
                <h1><strong>Reports</strong></h1>
                <h1>Under discussion</h1>
                <p style="height: 400px"></p>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->