<section id="sub-header" class="padding-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hi-icon-wrap hi-icon-effect-8">
                <a href="#index" class="hi-icon icon-home">
                    <p>Home</p>
                </a>
                <a href="#profile" class="hi-icon icon-user-1">
                    <p>my profile</p>
                </a>
                <a href="#messages" class="hi-icon icon-email">
                    <p>messages</p>
                </a>
                <a href="#my_instructors" class="hi-icon icon-users-1">
                    <p>my instructors</p>
                </a>
                <a href="#reports" class="hi-icon icon-dollar">
                    <p>reports</p>
                </a>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-top-10">
                <div class="earn">
                    <span class="pull-right"><small>Total Earn&nbsp;</small>1225 $</span>
                    <h4><strong>MY INSTRUCTORS</strong></h4>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="date-picker col-md-12">
                <label><strong>Choose the date</strong></label>
                <p id="search_date" class="col-md-12 col-sm-12 col-lg-12 no-padding margin-top-10">
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-right">From</span>
                    <input type="text" class="date start col-lg-3 col-md-5 col-sm-5 col-xs-9  margin-bottom-10" />
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-right">to</span>
                    <input type="text" class="date end col-lg-3 col-md-5 col-sm-5 col-xs-9 margin-bottom-10"/>
                    <button class="col-lg-3 col-md-5 col-sm-5 col-xs-9 btn btn-primary margin-top-3 pull-right margin-bottom-10">Search</button>
                </p>
            </div>

            <div class="row"><!-- search-->
                <div class="col-xs-10 col-md-6 col-lg-5 col-sm-8 pull-right margin-bottom-20">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Search here..." type="text" value="" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"></span>
                        </form>
                    </div>
                </div>
            </div><!-- End row search-->

            <div class="col-md-12 col-xs-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="highlight">
                        <tr>
                            <th class="text-center">Instructor</th>
                            <th class="text-center">Course</th>
                            <th class="text-center">Original Price</th>
                            <th class="text-center">Promo Code</th>
                            <th class="text-center">Offer Price</th>
                            <th class="text-center">Offer Duration</th>
                            <th class="text-center">Share %</th>
                            <th class="text-center">Enrollments</th>
                            <th class="text-center">Profit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        <tr>
                            <td><a href="member_profile.html" target="_blank">Namename</a></td>
                            <td><a href="../../user/views/course_detailed_view.html" target="_blank">Business</a></td>
                            <td class="text-center">125 $</td>
                            <td class="text-center">12 %</td>
                            <td class="text-center">105 $</td>
                            <td class="text-center">12/08/2015 to 13/09/2015</td>
                            <td class="text-center">5 %</td>
                            <td class="text-center">15</td>
                            <td class="text-center">75 $</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary">Generate PDF</button>
            <button class="btn btn-primary">Generate Excel</button>
        </div>

    </div><!-- End container -->
</section><!-- End main_content-->

<script>new UISearch( document.getElementById( 'sb-search' ) );</script>

<script>
    $('#search_date .date').datepicker({
        'format': 'd/m/yyyy',
        'autoclose': true
    });
    var basicExampleEl = document.getElementById('search_date');
    var datepair = new Datepair(basicExampleEl);
</script>