<div class="col-md-8 col-sm-7">
    <h3 class="text-center">Profile</h3><hr>
    <ul class="data-list no-margin entry">
        <li>
            <label><strong>First Name</strong></label>
            <div class="form-group">
                <input type="text" name="firstname" class="required form-control">
            </div>
        </li>
        <li>
            <label><strong>Last Name</strong></label>
            <div class="form-group">
                <input type="text" name="lastname" class="required form-control">
            </div>
        </li>
        <li>
            <label class="col-md-12 no-padding"><strong>Country</strong></label>
            <div class="styled-select">
                <select class="form-control required" name="country">
                    <option value="Europe">Europe</option>
                    <option value="Asia">Asia</option>
                    <option value="North America" selected>North America</option>
                    <option value="South America">South America</option>
                </select>
            </div>
        </li>
        <li>
            <label><strong>City</strong></label>
            <div class="form-group">
                <input type="text" name="city" class="required form-control">
            </div>
        </li>
        <li>
            <label><strong>Contact Number</strong></label>
            <div class="form-group">
                <input type="text" name="contact" class="required form-control">
            </div>
        </li>
        <li>
            <label><strong>Address</strong></label>
            <div class="form-group">
                <textarea type="text" name="contact" class="required form-control"></textarea>
            </div>
        </li>
        <li class="text-center">
            <button class="btn btn-primary">Save Changes</button>
        </li>
    </ul>
</div>