

<section id="main_content">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#new_course" class="button_medium green-button icon icon-plus-circle pull-right"> Create Course</a>
                <h4 class="create-title">MY COURSES</h4><hr>
                <!--  Tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#learn" data-toggle="tab" onclick="return false;">Enroll</a></li>
                    <li><a href="#teach" data-toggle="tab" onclick="return false;">Teach</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="learn">
                        <div class="row">

                            <!--<div class="col-md-12 col-xs-12 no-padding margin-top-20">
                                <div class="empty">
                                    <h1>
                                        Sorry User!
                                    </h1>
                                    <h4>
                                        You don't have any Courses!
                                    </h4>
                                </div>
                            </div>-->

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                    <!--ribbon for best selling remove if its not-->
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                <span class="contenthover">
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-plus-circle"></i> Add to Favourite</button>
                                                    <a href="course_learning_view.html"><button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button></a>
                                                </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                    <!--ribbon for best selling remove if its not-->
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-1.jpg" class="coursehover" alt="" />
                                                <span class="contenthover">
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-plus-circle"></i> Add to Favourite</button>
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button>
                                                </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                    <!--ribbon for best selling remove if its not-->
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                <span class="contenthover">
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-minus-circle"></i> Remove Favourite</button>
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button>
                                                </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                    <!--ribbon for best selling remove if its not-->
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                <span class="contenthover">
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-plus-circle"></i> Add to Favourite</button>
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button>
                                                </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                    <!--ribbon for best selling remove if its not-->
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                <span class="contenthover">
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-plus-circle"></i> Add to Favourite</button>
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button>
                                                </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                    <!--ribbon for best selling remove if its not-->
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                <span class="contenthover">
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-plus-circle"></i> Add to Favourite</button>
                                                    <button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button>
                                                </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 text-center">
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div><!-- End tab-pane -->

                    <div class="tab-pane fade" id="teach">

                       <!-- <div class="col-md-12 col-xs-12 no-padding">
                            <div class="empty">
                                <h1>
                                    Sorry User!
                                </h1>
                                <h4>
                                    No courses Published yet! please create your own course by clicking the "Create Course" button above!
                                </h4>
                            </div>
                        </div>-->


                        <!-- If course was created or started to create un-comment the below col-md-12 div -->
                        <div class="col-md-12 col-xs-12 no-padding margin-top-10">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <span class="draft_course"></span><!--drafted course-->
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="price pull-right">99$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <span class="draft_course"></span><!--drafted course-->
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="free pull-right">Free</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <span class="pending_course"></span><!--pending course-->
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="free pull-right">Free</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                                <div class="pull-right">2343<small>&nbsp;&nbsp;Enroll</small></div>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="rating">
                                                        <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"><small>(1234)</small></i>
                                                    </div>
                                                    <div class="price pull-right">99$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                                <div class="pull-right">2343<small>&nbsp;&nbsp;Enroll</small></div>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="rating">
                                                        <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"><small>(1234)</small></i>
                                                    </div>
                                                    <div class="price pull-right">99$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                                <div class="pull-right">2343<small>&nbsp;&nbsp;Enroll</small></div>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="rating">
                                                        <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"><small>(1234)</small></i>
                                                    </div>
                                                    <div class="price pull-right">99$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                                <div class="pull-right">2343<small>&nbsp;&nbsp;Enroll</small></div>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="rating">
                                                        <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"><small>(1234)</small></i>
                                                    </div>
                                                    <div class="price pull-right">99$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="col-item">
                                        <span class="reject_course"></span><!--rejected course-->
                                        <div class="photo effects">
                                            <div>
                                                <a href=""> <img src="../../img/course/course-7.jpg" alt="" /></a>
                                            </div>
                                            <div class="cat_row">
                                                <a href="#">PERSONALITY</a>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="course_info col-md-12 col-sm-12">
                                                    <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                    <div class="price pull-right">99$</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <ul class="pagination">
                                    <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- End tab-pane -->
            </div>
        </div><!-- End row-->
    </div><!-- End container -->
</section><!-- End main_content-->

<!-- course-hover effect-->
<script>
    $('.coursehover').contenthover({
        overlay_background:'rgba(0,0,0,0.6)'
    });
</script>
