
<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h4 class="create-title">MY FAVOURITES</h4><hr>
                <!--  Tabs -->
                <ul class="nav nav-tabs" id="mytabs">
                    <li class="active"><a href="#course" data-toggle="tab" onclick="return false;">Courses</a></li>
                    <li><a href="#author" data-toggle="tab" onclick="return false;">Author's</a></li>
                    <li><a href="#category" data-toggle="tab" onclick="return false;">Categories</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="course">
                        <div class="row">
                               <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                   
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                    <span class="contenthover">
                                                        <button class="btn btn-default btn-xs"><i class="icon icon-minus-circle"></i> Remove Favourite</button>
                                                       <a href="course_learning_view.html"><button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button></a>
                                                    </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                   
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                    <span class="contenthover">
                                                        <button class="btn btn-default btn-xs"><i class="icon icon-minus-circle"></i> Remove Favourite</button>
                                                        <a href="course_learning_view.html"><button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button></a> Study Course</button>
                                                    </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                   
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                    <span class="contenthover">
                                                        <button class="btn btn-default btn-xs"><i class="icon icon-minus-circle"></i> Remove Favourite</button>
                                                        <a href="course_learning_view.html"><button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button></a> Study Course</button>
                                                    </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                   
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                    <span class="contenthover">
                                                        <button class="btn btn-default btn-xs"><i class="icon icon-minus-circle"></i> Remove Favourite</button>
                                                        <a href="course_learning_view.html"><button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button></a> Study Course</button>
                                                    </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                   
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                    <span class="contenthover">
                                                        <button class="btn btn-default btn-xs"><i class="icon icon-minus-circle"></i> Remove Favourite</button>
                                                        <a href="course_learning_view.html"><button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button></a> Study Course</button>
                                                    </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="col-item">
                                   
                                    <div class="photo effects">
                                        <div>
                                            <img src="../../img/course/course-7.jpg" class="coursehover" alt="" />
                                                    <span class="contenthover">
                                                        <button class="btn btn-default btn-xs"><i class="icon icon-minus-circle"></i> Remove Favourite</button>
                                                        <a href="course_learning_view.html"><button class="btn btn-default btn-xs"><i class="icon icon-pen"></i> Study Course</button></a> Study Course</button>
                                                    </span>
                                        </div>
                                        <div class="cat_row">
                                            <a href="#">PERSONALITY</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="course_info col-md-12 col-sm-12">
                                                <h4>Build a Business Plan a Business Plan a Bysiness Plan a Byan a Byan a Busines</h4>
                                                <table class="course-author">
                                                    <tr>
                                                        <td>
                                                            <img class="img-thumbnail affiliate-img" src="../../img/avatar1.jpg" alt="" />
                                                        </td>
                                                        <td class="author_detail">
                                                            <p>Author namemeAuthor n</p>
                                                            <small>Web Developer</small>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="progress1">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%;">
                                                    </div>
                                                </div>
                                                <small class="complete">70% completed</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 text-center">
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>

                    </div><!-- End tab-pane -->

                    <div class="tab-pane fade" id="author">
                        <div class="row">

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_1_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_2_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_3_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_4_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_1_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_2_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_3_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class=" box_style_3">
                                    <p><img src="../../img/teacher_4_small.jpg" alt="Teacher" class="img-circle styled center-block"></p>
                                    <h4 class="p-title">Patricia Doe <br><small>Biologist</small></h4>
                                    <p class="text-center detail">
                                        No.of Courses : 24<br/>
                                        No.of Enrollments : 1245
                                    </p>
                                    <a href="" class="btn-success btn-xs margin-right-5">View Courses</a>
                                    <a href="" class="btn-danger btn-xs">Remove</a>
                                    <hr>
                                    <ul class="social_team">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class=" icon-google"></i></a></li>
                                        <li><a href="#"><i class=" icon-user"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End row -->

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End tab-pane -->

                    <div class="tab-pane fade table-responsive" id="category">
                        <table class="table table-bordered margin-top-10">
                            <thead>
                            <tr>
                                <th>Category Name</th>
                                <th>Sub-Categories</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="#"><strong>Computer Applications</strong></a></td>
                                <td>
                                    <div class="course-accordion-group">
                                        <div class="course-accordion-heading">
                                            <a class="course-accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapse-require" onclick="return false;">
                                                <p>Click for Sub-Categories&nbsp;<span class="caret"></span></p>
                                            </a>
                                        </div>
                                        <div id="collapse-require" class="course-accordion-body collapse">
                                            <div class="course-accordion-inner">
                                                <ul class="margin-top-10 list_1">
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="#yourModalId1" class="margin-top-10 btn-danger btn-sm">Remove</a> </td>
                            </tr>
                            <tr>
                                <td><a href="#"><strong>Mathematics</strong></a></td>
                                <td>
                                    <div class="course-accordion-group">
                                        <div class="course-accordion-heading">
                                            <a class="course-accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapse-require1" onclick="return false;">
                                                <p>Click for Sub-Categories&nbsp;<span class="caret"></span></p>
                                            </a>
                                        </div>
                                        <div id="collapse-require1" class="course-accordion-body collapse">
                                            <div class="course-accordion-inner">
                                                <ul class="margin-top-10 list_1">
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                    <li><a href="">Internet</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="#yourModalId1" class="margin-top-10 btn-danger btn-sm">Remove</a> </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="3"><a href="#yourModalId"><i class="icon icon-plus-circle"></i> Add Favorite Category</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- End tab-pane -->

                </div>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->

<!-- pop up linked popup.css, popup.js and inline script at bottom-->
<div id="yourModalId" class="yourModalClass text-center" style="display: none">
    <a href="#yourModalId" class="pull-right close padding-top-10">x</a><br/>
    <h4><strong>Choose Favourite Category</strong></h4>
    <select class="required form-control styled-select" type="text" name="rename">
        <option>IT Development</option>
        <option>Engineering</option>
        <option>Academics</option>
        <option>Marketing</option>
        <option>Database Management</option>
        <option>Design</option>
        <option>Microsoft</option>
    </select>
    <button class="btn btn-sm btn-success">Add to Favourite</button>
</div>
<div id="yourModalId1" class="yourModalClass text-center alert-warning" style="display: none">
    <a href="#yourModalId1" class="pull-right close padding-top-10">x</a><br/>
    <h4><strong>Alert!</strong></h4>
    <span class="text-center">Are you sure want to remove from favourite</span><br/><br/>
    <button class="btn btn-sm btn-danger">Remove</button>
</div>

<!-- course-hover effect-->
<script>
    $('.coursehover').contenthover({
        overlay_background:'rgba(0,0,0,0.6)'
    });
</script>

<!-- pop up -->
<script>
    var modal = Modality.init('#yourModalId', {
        effect: 'slide-up'
    });
    var modal1 = Modality.init('#yourModalId1', {
        effect: 'slide-up'
    });
</script>