

<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="create-title">MESSAGES</h4><hr>
                <div class="message">
                    <div class="module-option col-md-12 col-xs-12 no-padding">
                        <div class="pull-left">
                            <div class="btn-group">
                                <button class="btn">
                                    <a href="#my_messages">Inbox (15)</a>
                                </button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Unread</a></li>
                                    <li><a href="#">Read</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="#" >
                                <span class="btn btn-danger hidden-xs">Delete</span>
                                <span class="btn btn-danger hidden-md hidden-lg hidden-sm"><i class="icon-trash"></i> </span>
                            </a>
                            <a href="#my_messages" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                    <div class="open-message col-xs-12 col-md-12 no-padding">
                        <hr>
                        <p>
                            <span>subjectsubjectsubjectsubjec</span>
                              <span class="pull-right">
                                  <i class="icon icon-attach"></i>
                                  <span>
                                      <i class="icon starred icon-star"></i><!-- remove starred if message not star -->
                                  </span>
                                  <i>01-02-2015</i>
                                  <i>13:10</i>
                              </span>
                        </p>
                        <p>
                            <strong>From:</strong>
                            Manoj
                        </p>
                        <p>
                            The course was enrolled by the student which is given below.
                            Coursename: Display 3D Object On Web Browser
                            Author:abemid
                            Studentname: Author:abemid
                            Studentnam e:Author:abemid
                            Studentnam e:A uthor:abemid
                            Studentn ame:
                        </p>
                        <textarea name="message" class="form-control1 style_1 height-100" placeholder="Reply..."></textarea>
                        <div class="form-group text-center margin-top-20">
                            <input type="submit" class=" button_medium" value="SEND"/>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->

<!-- tooltip -->
<script type="text/javascript" src="../../../js/tooltip.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#default a").toolTip();
    })
</script>
