<!--date picker-->
<link rel="stylesheet" type="text/css" href="../../../plugin/date-picker/date-picker/lib/bootstrap-datepicker.css" />
<link rel="stylesheet" type="text/css" href="../../../plugin/date-picker/date-picker/lib/pikaday.css" />

<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="earn">
                    <span class="pull-right"><small>Total Earn&nbsp;&nbsp;</small>1225 $</span>
                    <h4 class="create-title">PAYMENTS</h4><hr/>
                </div>
                <!--  Tabs -->
                <ul class="nav nav-tabs" id="mytabs">
                    <li class="active"><a href="#payment" data-toggle="tab">Payments</a></li>
                    <li><a href="#report" data-toggle="tab">Reports</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="payment">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th>Published Date</th>
                                    <th>Total Enrollments</th>
                                    <th>Share</th>
                                    <th>Service Pay</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="#">HTML</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">CSS</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Java</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Java Script</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">WebSite Design</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Bootstrap</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Health Care</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Super</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Super</a></td>
                                    <td>03/02/2015</td>
                                    <td>2352</td>
                                    <td>125 $</td>
                                    <td>25 $</td>
                                    <td><a href="#" title="Download Details"><i class="icon icon-download"></i> Download </a></td>
                                </tr>

                                </tr>

                                </tbody>
                            </table>
                            <div class="col-md-12 col-xs-12 text-center">
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End tab-pane -->

                    <div class="tab-pane fade" id="report">
                        <div class="form-group margin-bottom-15">
                            <label for="report-type"><strong>Choose Course</strong>
                            </label>
                            <select class="form-control" id="Course">
                                <option>All courses</option>
                                <option>Basics Of Adobe Illustrctor</option>
                                <option>3D draw using Corel Draw</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="report-type"><strong>Report Type</strong>
                            </label>
                            <select class="form-control" id="report-type">
                                <option>Payment Report</option>
                                <option>Course Enrolled Report</option>
                            </select>
                        </div>

                        <div class="date-picker"><br/>
                            <label><strong>Choose the date</strong></label>
                            <p id="basicExample" class="col-md-12 col-xs-12 no-padding">
                                <span class="col-md-1 col-xs-3 text-right">From</span>
                                <input type="text" class="date start col-md-5 col-xs-9  margin-bottom-10" />
                                <span class="col-md-1 col-xs-3 text-right">to</span>
                                <input type="text" class="date end col-md-5 col-xs-9 " />
                            </p>
                        </div>

                        <div class="text-center margin-bottom-10">
                            <button class="btn btn-primary">Generate PDF</button>
                            <button class="btn btn-primary">Generate Excel</button>
                        </div>
                    </div><!-- End tab-pane -->

                </div><!-- End tab-pane -->

            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->

<!-- tooltip -->
<script type="text/javascript" src="../../../js/tooltip.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".default a").toolTip();
    })
</script>

<!-- datepicker (https://github.com/jonthornton/Datepair.js)-->
<script src="../../../plugin/date-picker/date-picker/lib/jquery-2.1.1.js"></script>
<script src="../../../plugin/date-picker/date-picker/dist/jquery-timepicker.js"></script>
<script src="../../../plugin/date-picker/date-picker/lib/bootstrap-datepicker.js"></script>
<script src="../../../plugin/date-picker/date-picker/lib/pikaday.js"></script>
<script src="../../../plugin/date-picker/date-picker/dist/datepair.js"></script>

<script>
    $('#basicExample .date').datepicker({
        'format': 'd/m/yyyy',
        'autoclose': true
    });

    var basicExampleEl = document.getElementById('basicExample');
    var datepair = new Datepair(basicExampleEl);
</script>