
<section id="main_content">

<div class="container">

      <div class="row margin-top-10">
          <aside class="col-md-4 col-sm-5">
              <div class="box_style_1">
                  <div class="text-center">
                      <br/>
                      <form>
                          <div class="dropzone" data-width="250" data-height="250" data-originalsize="false" data-url="canvas.php" data-image="../../img/teacher_2.jpg" data-removeurl="/your_remove_image_script.html">
                              <input type="file" name="thumb"/>
                          </div>
                      </form>
                      <br/>
                  </div>
                  <p class="profile-name no_margin">User Name<small><br>Web developer</small></p>
                  <ul class="profile-edit">
                      <li class="">
                          <a href="#profile_edit">Profile</a>
                      </li>
                      <li class="">
                          <a href="#primary_info_edit">Primary Info</a>
                      </li>
                      <li class="">
                          <a href="#account_edit">Account</a>
                      </li>
                      <li class="active">
                          <a href="#payment_edit">Payment</a>
                      </li>
                  </ul>
              </div>
          </aside>

          <div class="col-md-8 col-sm-7">
              <h4 class="create-title">Payment</h4><hr>
              <ul class="data-list no-margin entry">
                  <li>
                      <label><strong>Paypal E-mail ID</strong></label>
                      <div class="form-group">
                          <input type="text" name="paypal" class="required form-control no-margin" ng-model="userDetails.paymentId">
                      </div>
                      <div class="c1 padding-tb-10">
                          <small><strong>Note:</strong> This email will be your paypal account email ID for payment transaction.</small>
                      </div>
                  </li>
                  <li class="text-center">
                      <button class="btn btn-primary">Save</button>
                  </li>
              </ul>
          </div>
      </div><!-- End row-->
</div><!-- End container -->
</section><!-- End main_content-->

<!-- file upload -->
<script>
    $('.dropzone').html5imageupload();
</script>
