
<section id="main_content">

<div class="container">

      <div class="row margin-top-10">
          <aside class="col-md-4 col-sm-5">
              <div class="box_style_1">
                  <div class="text-center">
                      <br/>
                      <form>
                          <div class="dropzone" data-width="250" data-height="250" data-originalsize="false" data-url="canvas.php"  data-image="../../img/teacher_2.jpg" data-removeurl="/your_remove_image_script.html">
                              <input type="file" name="thumb"/>
                          </div>
                      </form>
                      <br/>
                  </div>
                  <p class="profile-name no_margin">User Name<small><br>Web developer</small></p>
                  <ul class="profile-edit">
                      <li class="">
                          <a href="#profile_edit">Profile</a>
                      </li>
                      <li class="active">
                          <a href="#primary_info_edit">Primary Info</a>
                      </li>
                      <li class="">
                          <a href="#change_password">Change Password</a>
                      </li>
                      <li class="">
                          <a href="#payment_edit">Payment Settings</a>
                      </li>
                  </ul>
              </div>
          </aside>

          <div class="col-md-8 col-sm-7">
              <h4 class="create-title">Primary Info</h4><hr>
              <form name="primaryInfoForm" novalidate>
              <ul class="data-list no-margin entry">
                  <li>
                      <label><strong>Designation</strong></label>
                      <div class="form-group">
                          <input type="text" name="designation" class="form-control" ng-model="userDetails.designation" required placeholder="Enter Designation">
                          <span class="input-icon"><i class="icon-user"></i></span>
                            <span ng-show="primaryInfoForm.designation.$dirty && primaryInfoForm.designation.$invalid">
                            <span class="error-message" ng-show="primaryInfoForm.designation.$error.required"><span>Required.</span></span>
                          </span>
                      </div>
                  </li>
                  <li>
                      <label><strong>Education</strong></label>
                      <div class="form-group">
                          <input type="text" name="education" class="form-control" ng-model="userDetails.education" required placeholder="Enter Education">
                          <span class="input-icon"><i class="icon-book"></i></span>
                            <span ng-show="primaryInfoForm.education.$dirty && primaryInfoForm.education.$invalid">
                            <span class="error-message" ng-show="primaryInfoForm.education.$error.required"><span>Required.</span></span>
                          </span>
                      </div>
                  </li>
                  <li>
                      <label><strong>About Me</strong></label>
                      <div class="form-group">
                          <textarea type="text" name="aboutMe" class="form-control" required placeholder="Enter About Me" ng-model="userDetails.aboutMe"/>
                            <span ng-show="primaryInfoForm.aboutMe.$dirty && primaryInfoForm.aboutMe.$invalid">
                            <span class="error-message top-70" ng-show="primaryInfoForm.aboutMe.$error.required"><span>Required.</span></span>
                          </span>
                      </div>
                  </li>
                  <li>
                      <label><strong>Facebook URL</strong></label>
                      <div class="form-group">
                          <input type="text" name="facebookUrl" class="form-control" placeholder="Enter Facebook URL" ng-model="userDetails.facebookUrl">
                          <span class="input-icon"><i class="icon-globe"></i></span>
                      </div>
                  </li>
                  <li>
                      <label><strong>Twitter URL</strong></label>
                      <div class="form-group">
                          <input type="text" name="twitterUrl" class="form-control" placeholder="Enter Twitter URL" ng-model="userDetails.twitterUrl">
                          <span class="input-icon"><i class="icon-globe"></i></span>
                      </div>
                  </li>
                  <li>
                      <label><strong>Google Plus URL</strong></label>
                      <div class="form-group">
                          <input type="text" name="google" class="form-control" placeholder="Enter Google Plus URL" ng-model="userDetails.googleUrl">
                          <span class="input-icon"><i class="icon-globe"></i></span>
                      </div>
                  </li>
                  <li class="text-center">
                      <button class="btn btn-primary" ng-click="doPrimaryInfoEdit(userDetails)" ng-class="{'button-disable':primaryInfoForm.$invalid}">Save Changes</button>
                  </li>
              </ul>
            </form>
          </div>
      </div><!-- End row-->
</div><!-- End container -->
</section><!-- End main_content-->

<!-- file upload -->
<script>
    $('.dropzone').html5imageupload();
</script>
