
<section id="main_content">

    <div class="container">
        <div class="row">
            <aside class="col-md-3 margin-top-20 box_style_1">
                <div class="center-middle margin-top-20"><img src="../../img/teacher_2.jpg" alt="Teacher" class="img-circle  styled">
                </div>
                <br>
                <ul class="social_teacher">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class=" icon-globe"></i></a></li>
                </ul>
                <br>
            </aside><!-- End aside -->

            <div class="col-md-9 margin-top-20">
                <div class="col-md-12">
                    <h3>{{userDetails.firstName}}&nbsp;{{userDetails.lastName}}</h3>
                    <h5><i>{{userDetails.designation}}</i></h5>
                    <hr/>
                    <h4>About Me</h4>
                    <p>{{userDetails.aboutMe!=""?userDetails.aboutMe:"Type few words about yourself in profile"}}</p>

                    <div class="col-md-8 col-xs-12 col-md-offset-2 no-padding">
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c1"><strong>24.4k</strong></h2>
                            <h5><i class="icon-users-1"> </i>Students</h5>
                        </div>
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c2"><strong>15</strong></h2>
                            <h5><i class="icon-doc-3"> </i>Courses</h5>
                        </div>
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c3"><strong>675</strong></h2>
                            <h5><i class="icon-comment"> </i>Reviews</h5>
                        </div>
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c4"><strong>257</strong></h2>
                            <h5><i class="icon-heart-1"> </i>Follwers</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End row-->

    </div><!-- End container -->
</section><!-- End main_content-->