
<section id="main_content">

    <div class="container">
        <div class="row">
            <aside class="col-md-3 margin-top-20 box_style_1">
                <div class="center-middle margin-top-20"><img src="../../../img/teacher_2.jpg" alt="Teacher" class="img-circle  styled">
                </div>
                <br>
                <ul class="social_teacher">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class=" icon-globe"></i></a></li>
                </ul>
                <br>
            </aside><!-- End aside -->

            <div class="col-md-9 margin-top-20">
                <div class="col-md-12">
                    <h3>Marion Rhodes</h3>
                    <h5><i>Web developer</i></h5>
                    <hr/>
                    <h4>About me</h4>
                    <p>Lorem ipsum dolor sit amet, dicta oportere ad est, ea eos partem neglegentur theophrastus. Esse voluptatum
                        duo ne, expetenda corrumpit no per, at mei nobis lucilius. No eos semper aperiri neglegentur, vis noluisse
                        quaestio no. Vix an nostro inimicus, qui ut animal fabellas reprehendunt. In quando repudiare intellegebat
                        sed, nam suas dicta melius ea.</p>

                    <div class="col-md-8 col-xs-12 col-md-offset-2 no-padding">
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c1"><strong>24.4k</strong></h2>
                            <h5><i class="icon-users-1"> </i>Students</h5>
                        </div>
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c2"><strong>15</strong></h2>
                            <h5><i class="icon-doc-3"> </i>Courses</h5>
                        </div>
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c3"><strong>675</strong></h2>
                            <h5><i class="icon-comment"> </i>Reviews</h5>
                        </div>
                        <div class="col-md-3 col-xs-3 review">
                            <h2 class="c4"><strong>257</strong></h2>
                            <h5><i class="icon-heart-1"> </i>Follwers</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End row-->

    </div><!-- End container -->
</section><!-- End main_content-->

<script type="text/javascript" src="../../../js/tooltip.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#default a").toolTip();
    })
</script>

<!-- course-hover effect-->
<script src="../../../js/jquery-mouse-overlay.js"></script>
<script>
    $('.coursehover').contenthover({
        overlay_background:'rgba(0,0,0,0.6)'
    });
</script>