
<section id="main_content">

<div class="container">
  <div flash-message="5000" ></div>
    <div class="row margin-top-10">
          <aside class="col-md-4 col-sm-5">
              <div class="box_style_1">
                  <div class="image-editor margin-top-20 margin-bottom-20">
                      
                      <div class="cropit-image-preview center-block">
                      <div class="fileUpload btn btn-xs btn-danger profile-image-button">
                        <span>Change</span>
                        <input type="file" class="upload cropit-image-input" />
                      </div></div>
                      <div class="margin-top-10">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                          <input type="range" class="cropit-image-zoom-input">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <div class="action_btns">
                            <a ng-click="changeProfileImage()" class="btn btn-xs btn-primary export modal_close">Update</a>
                          </div>
                        </div>
                      </div>
                  </div><br/>
                  <p class="profile-name">{{userDetails.firstName}}&nbsp;{{userDetails.lastName}}<small><br>{{userDetails.designation}}</small></p>
                  <ul class="profile-edit">
                      <li class="active">
                          <a href="#profile_edit">Profile</a>
                      </li>
                      <li class="">
                          <a href="#primary_info_edit">Primary Info</a>
                      </li>
                      <li class="">
                          <a href="#change_password">Change Password</a>
                      </li>
                      <li class="">
                          <a href="#payment_edit">Payment Settings</a>
                      </li>
                  </ul>
              </div>
          </aside>

              <div class="col-md-8 col-sm-7">
                  <h4 class="create-title">Profile</h4><hr>
                  <form name="profileEditForm" novalidate>
                  <ul class="data-list no-margin entry">
                      <li>
                          <label><strong>First Name</strong></label>
                          <div class="form-group">
                              <input type="text" name="firstname" class="form-control" ng-model="userDetails.firstName" required placeholder="Enter First Name" maxlength="45">
                              <span class="input-icon"><i class="icon-user"></i></span>
                              <span ng-show="profileEditForm.firstname.$dirty && profileEditForm.firstname.$invalid">
                                <span class="error-message" ng-show="profileEditForm.firstname.$error.required"><span>Required.</span></span>
                              </span>
                          </div>
                      </li>
                      <li>
                          <label><strong>Last Name</strong></label>
                          <div class="form-group">
                              <input type="text" name="lastname" class="form-control" ng-model="userDetails.lastName" required placeholder="Enter Last Name">
                              <span class="input-icon"><i class="icon-user"></i></span>
                              <span ng-show="profileEditForm.lastname.$dirty && profileEditForm.lastname.$invalid">
                                <span class="error-message" ng-show="profileEditForm.lastname.$error.required"><span>Required.</span></span>
                              </span>
                          </div>
                      </li>
                      <li>
                          <label class="col-md-12 no-padding"><strong>Country</strong></label>
                          <div class="styled-select">
                              <select class="form-control" name="country" ng-model="userDetails.country">
                                  <option value="Europe">Europe</option>
                                  <option value="Asia">Asia</option>
                                  <option value="North America" selected>North America</option>
                                  <option value="South America">South America</option>
                              </select>
                          </div>
                      </li>
                      <li>
                          <label class="col-md-12 no-padding"><strong>State</strong></label>
                          <div class="styled-select">
                              <select class="form-control" name="state" ng-model="userDetails.state">
                                  <option value="Europe">Europe</option>
                                  <option value="Asia">Asia</option>
                                  <option value="North America" selected>North America</option>
                                  <option value="South America">South America</option>
                              </select>
                          </div>
                      </li>
                      <li>
                          <label><strong>City</strong></label>
                          <div class="form-group">
                              <input type="text" name="city" class="form-control" ng-model="userDetails.city" required placeholder="Enter City">
                              <span class="input-icon"><i class="icon-building"></i></span>
                              <span ng-show="profileEditForm.city.$dirty && profileEditForm.city.$invalid">
                                <span class="error-message" ng-show="profileEditForm.city.$error.required"><span>Required.</span></span>
                              </span>
                          </div>
                      </li>
                      <li>
                          <label><strong>Contact Number</strong></label>
                          <div class="form-group">
                              <input type="text" name="contact" class="required form-control" ng-model="userDetails.phoneNumber" required placeholder="Enter Contact Number">
                              <span class="input-icon"><i class="icon-phone"></i></span>
                              <span ng-show="profileEditForm.contact.$dirty && profileEditForm.contact.$invalid">
                                <span class="error-message" ng-show="profileEditForm.contact.$error.required"><span>Required.</span></span>
                              </span>
                          </div>
                      </li>
                      <li>
                          <label><strong>Address</strong></label>
                          <div class="form-group">
                              <textarea type="text" name="address" class="required form-control" ng-model="userDetails.address" required placeholder="Enter Address" id="addressEntry" maxlength="150"/>
                              <span class="input-icon text-count" id="counter"></span>
                              <span ng-show="profileEditForm.address.$dirty && profileEditForm.address.$invalid">
                                <span class="error-message top-70" ng-show="profileEditForm.address.$error.required"><span>Required.</span></span>
                              </span>
                          </div>
                      </li>
                      <li class="text-center">
                          <button class="btn btn-primary" ng-click="doProfileEdit(userDetails)" ng-disabled="isClean() || profileEditForm.$invalid">Save Changes</button>
                      </li>
                  </ul>
                </form>
              </div>
      </div><!-- End row-->
</div><!-- End container -->
</section><!-- End main_content-->

<!-- prevent submit key while enter in input box -->
<script>
$(document).ready(function(){
  // Stop user to press enter in textbox
  $('input').keypress(function(event) {
    if (event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('#addressEntry').simplyCountable({
          maxCount: 150,
      });
    });
</script>

<script>
    $(function() {
        $('.image-editor').cropit({
            imageState: {
                src: 'https://lh6.ggpht.com/k7Z4J1IIXXJnC2NRnFfJNlkn7kZge4Zx-Yv5uqYf4222tx74wXDzW24OvOxlcpw0KcQ=w300'
            }
        });
    });
</script>


