
<div id="slideout">
    <img src="../../img/askus.png" alt="Feedback" />
    <div id="slideout_inner">
        <form>
            <textarea></textarea>
            <input type="submit" class="btn btn-black btn-xs center-block" value="Send">
        </form>
    </div>
</div>

<section id="main_content">

    <div class="container">

        <div class="row margin-top-10">
            <aside class="col-md-4 col-lg-4 col-sm-5">
                <div class="box_style_1">
                    <div class="text-center">
                        <br/>
                        <form>
                            <div class="dropzone" id="course-thumb" data-width="400" data-height="250" data-originalsize="false" data-url="canvas.php" data-image="../../img/course/course-5.jpg" data-removeurl="/your_remove_image_script.html">
                                <input type="file" name="thumb"/>
                            </div>
                        </form>
                        <br/>
                    </div>
                    <p class="course-name no_margin">Course Cover Image</p>
                    <ul class="profile-edit margin-top-10">
                        <li class="">
                            <a href="#new_course">Overview</a>
                        </li>
                        <li class="">
                            <a href="#add_section">Add Sections</a>
                        </li>
                        <li class="">
                            <a href="#add_lecture">Add Lectures</a>
                        </li>
                        <li class="active">
                            <a href="#view-quiz">Add Quiz</a>
                        </li>
                        <li class="">
                            <a href="#add_promocode">Add Promocode</a>
                        </li>
                        <li class="">
                            <a href="#preview">Preview/Publish</a>
                        </li>
                        <li class="">
                            <a href="#help">Course Help</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <div class="col-md-8 col-lg-8 col-sm-7">
                <a href="#view-quiz" class="pull-right btn-primary btn-sm margin-bottom-10 ">Back <span class="hidden-xs">to list</span></a>
                <a href="#quiz_preview" class="pull-right btn-warning btn-sm margin-bottom-10 margin-right-10 icon icon-eye"><span class="hidden-xs">Preview</span></a>
                <h4 class="create-title">Question List</h4><hr>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn-sm btn-success margin-bottom-10 pull-right" href="#add_question">Add Question</a>
                        <div class="col-xs-12 col-md-6  margin-bottom-10 pull-right">
                            <div id="sb-search" class="sb-search">
                                <form>
                                    <input class="sb-search-input" placeholder="Search here..." type="text" value="" name="search" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"></span>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding">
                            <div>
                                <table id="question-sort" class="table">
                                    <thead>
                                    <tr class="nodrag">
                                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>No.</th>
                                        <th>Section Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>1</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>2</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="sorter">
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>3</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>4</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>5</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>6</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>7</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>7</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sorter"><i class="icon icon-move"></i> </td>
                                        <td>7</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#edit_question" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End row-->
    </div><!-- End container -->
</section><!-- End main_content-->

<!-- pop up linked popup.css, popup.js and inline script at bottom-->
<div id="yourModalId1" class="yourModalClass text-center alert-warning" style="display:none;">
    <a href="#yourModalId1" class="pull-right close padding-top-10">x</a><br/>
    <h4><strong>Alert!</strong></h4>
    <span class="text-center">Are you sure want to delete</span><br/><br/>
    <button class="btn btn-sm btn-danger">Delete</button>
</div>

<script>new UISearch( document.getElementById( 'sb-search' ) );</script>

<!-- file upload -->
<script>
    $('.dropzone').html5imageupload();
</script>

<!-- pop up -->
<script>
    var modal1 = Modality.init('#yourModalId1', {
        effect: 'slide-up'
    });
</script>

<script type="text/javascript">
    $("#question-sort").rowSorter({
        handler: "td.sorter"
    });
</script>