
<div id="slideout">
    <img src="../../img/askus.png" alt="Feedback" />
    <div id="slideout_inner">
        <form>
            <textarea></textarea>
            <input type="submit" class="btn btn-black btn-xs center-block" value="Send">
        </form>
    </div>
</div>

<section id="main_content">

    <div class="container">

        <div class="row margin-top-10">
            <aside class="col-md-4 col-lg-4 col-sm-5">
                <div class="box_style_1">
                    <div class="text-center">
                        <br/>
                        <form>
                            <div class="dropzone" id="course-thumb" data-width="400" data-height="250" data-originalsize="false" data-url="canvas.php" data-image="../../img/course/course-5.jpg" data-removeurl="/your_remove_image_script.html">
                                <input type="file" name="thumb"/>
                            </div>
                        </form>
                        <br/>
                    </div>
                    <p class="course-name no_margin">Course Cover Image</p>
                    <ul class="profile-edit margin-top-10">
                        <li class="">
                            <a href="#new_course">Overview</a>
                        </li>
                        <li class="">
                            <a href="#add_section">Add Sections</a>
                        </li>
                        <li class="">
                            <a href="#add_lecture">Add Lectures</a>
                        </li>
                        <li class="active">
                            <a href="#view-quiz">Add Quiz</a>
                        </li>
                        <li class="">
                            <a href="#add_promocode">Add Promocode</a>
                        </li>
                        <li class="">
                            <a href="#preview">Preview/Publish</a>
                        </li>
                        <li class="">
                            <a href="#help">Course Help</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <div class="col-md-8 col-lg-8 col-sm-7">
                <a href="#question-list" class="btn-sm btn-primary pull-right">Back</a>
                <h4 class="create-title">Add Quiz</h4><hr>
                    <table class="table">
                        <tbody class="quiz">
                            <tr class="question">
                                <td>1</td>
                                <td>Study of website developmentStudy of website development</td>
                                <td class="type">Single Answer</td>
                            </tr>
                            <tr class="answer">
                                <td rowspan="4"></td>
                                <td colspan="2">A) Study of website development</td>
                            </tr>
                            <tr>
                                <td colspan="2">B) Study of website development</td>
                            </tr>
                            <tr>
                                <td colspan="2">C) Study of website development</td>
                            </tr>
                            <tr>
                                <td colspan="2">D) Study of website development</td>
                            </tr>
                            <tr class="question">
                                <td>2</td>
                                <td>Study of website developmentStudy of website development</td>
                                <td class="type">Single Answer</td>
                            </tr>
                            <tr>
                                <td rowspan="4"></td>
                                <td colspan="2">A) Study of website development</td>
                            </tr>
                            <tr>
                                <td colspan="2">B) Study of website development</td>
                            </tr>
                            <tr class="answer">
                                <td colspan="2">C) Study of website development</td>
                            </tr>
                            <tr>
                                <td colspan="2">D) Study of website development</td>
                            </tr>
                            <tr class="question">
                                <td>3</td>
                                <td>Study of website developmentStudy of website development</td>
                                <td class="type">Single Answer</td>
                            </tr>
                            <tr>
                                <td rowspan="4"></td>
                                <td colspan="2">A) Study of website development</td>
                            </tr>
                            <tr class="answer">
                                <td colspan="2">B) Study of website development</td>
                            </tr>
                            <tr>
                                <td colspan="2">C) Study of website development</td>
                            </tr>
                            <tr>
                                <td colspan="2">D) Study of website development</td>
                            </tr>
                        </tbody>
                    </table>
                <div class="col-md-12 text-center margin-top-5">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- End row-->
    </div><!-- End container -->
</section><!-- End main_content-->

<!-- file upload -->
<script>
    $('.dropzone').html5imageupload();
</script>
