
<!-- file upload (http://dev.html5ux.com/upload-image/) -->
<link href="../../../css/fileupload.css" rel="stylesheet">

<!-- popup -->
<link rel="stylesheet" href="../../../css/popup.css">

<!-- sidebar -->
<link rel="stylesheet" href="../../../css/sidebar.css">

<div id="slideout">
    <img src="../../../img/askus.png" alt="Feedback" />
    <div id="slideout_inner">
        <form>
            <textarea></textarea>
            <input type="submit" class="btn btn-black btn-xs center-block" value="Send">
        </form>
    </div>
</div>

<section id="main_content">

    <div class="container">

        <div class="row margin-top-10">
            <aside class="col-md-4 col-lg-4 col-sm-5">
                <div class="box_style_1">
                    <div class="text-center">
                        <br/>
                        <form>
                            <div class="dropzone" data-width="400" data-height="250" data-originalsize="false" data-url="canvas.php" style="width:90%;height: auto" data-image="img/course/course-5.jpg" data-removeurl="/your_remove_image_script.html">
                                <input type="file" name="thumb"/>
                            </div>
                        </form>
                        <br/>
                    </div>
                    <p class="course-name no_margin">Course Cover Image</p>
                    <ul class="profile-edit margin-top-10">
                        <li class="">
                            <a href="#new_course">Overview</a>
                        </li>
                        <li class="">
                            <a href="#add_section">Add Sections</a>
                        </li>
                        <li class="">
                            <a href="#add_lecture">Add Lectures</a>
                        </li>
                        <li class="active">
                            <a href="#view-quiz">Add Quiz</a>
                        </li>
                        <li class="">
                            <a href="#add_promocode">Add Promocode</a>
                        </li>
                        <li class="">
                            <a href="#preview">Preview/Publish</a>
                        </li>
                        <li class="">
                            <a href="#help">Course Help</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <div class="col-md-8 col-lg-8 col-sm-7">

                <a href="#yourModalId" class="btn-sm btn-primary pull-right">Add New Quiz</a>
                <h4 class="create-title">Quiz List</h4><hr>
                <div class="row"> 
                    <div class="col-md-12">
                        <div class="col-md-12 col-xs-12 no-padding">
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr class="nodrag">
                                        <th>No.</th>
                                        <th>Quiz Title</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#question-list" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#question-list" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="sorter">
                                        <td>3</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#question-list" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#question-list" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#question-list" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#question-list" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Study of website development</td>
                                        <td>
                                            <a href="#question-list" class="btn btn-xs btn-success margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-edit"></i>
                                                <span class="hidden-xs hidden-sm">Edit</span>
                                            </a>
                                            <a href="#yourModalId1" class="btn btn-xs btn-danger margin-top-3">
                                                <i class="hidden-md hidden-lg icon icon-trash"></i>
                                                <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End row-->
        </div>
        <div id="yourModalId1" class="yourModalClass text-center alert-warning" style="display:none;">
            <a href="#yourModalId1" class="pull-right close padding-top-10">x</a><br/>
            <h4><strong>Alert!</strong></h4>
            <span class="text-center">Are you sure want to delete</span><br/><br/>
            <button class="btn btn-sm btn-danger">Delete</button>
        </div>
        <div id="yourModalId" class="yourModalClass" style="display:none;">
            <a href="#yourModalId" class="pull-right close padding-top-10">x</a><br/>
            <h4 class="text-center"><strong>Add New Quiz</strong></h4>
            <label>Quiz Name</label>
            <input class="form-control">
            <div class="text-center">
                <a href="#yourModalId"class="btn btn-sm btn-success">Save</a>
                <a  href="#yourModalId"class="btn btn-sm btn-warning">Cancel</a>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->

<!-- tooltip -->
<script type="text/javascript" src="../../../js/tooltip.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#default a").toolTip();
    })
</script>

<!-- file upload -->
<script src="../../../js/fileupload.js"></script>

<script>
    $('.dropzone').html5imageupload();
</script>

<script src="../../../js/popup.js"></script>

<!-- pop up -->
<script>
    var modal1 = Modality.init('#yourModalId', {
        effect: 'slide-up'
    });

    var modal1 = Modality.init('#yourModalId1', {
        effect: 'slide-up'
    });
</script>