<section id="login_bg">
<div  class="container">
<div class="row">
	<errordisplay message="errorMessage" success="success" fail="fail"></errordisplay>
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id="login">
			<p class="text-center">
				<img src="../../img/login_logo.png" alt="">
			</p>
			<hr>
			<form role="form" name="regForm" class="form-horizontal" novalidate>
                <div class="col-md-12">
				<div class="form-group">
					<input type="email" name="emailAddress" class=" form-control" ng-model="emailAddress" placeholder="Email" required email emailavailable>
					<span class="input-icon"><i class="icon-email"></i></span>
					<span ng-show="regForm.emailAddress.$dirty && regForm.emailAddress.$invalid">
    				<span class="error-message" ng-show="regForm.emailAddress.$error.required" class="help-inline"><span>Required.</span></span>
    				<span class="error-message" ng-show="regForm.emailAddress.$error.email" class="help-inline"><span>Email&nbsp;is&nbsp;invalid.</span></span>
    				</span>
    				<span class="error-message" ng-show="regForm.emailAddress.$error.emailavailable"><span>Email&nbsp;Address&nbsp;not&nbsp;Exist.</span></span>
				</div>
                </div>
				<div>
                 <button ng-click="forgotPasswordRequest();" ng-disabled="regForm.$invalid" class="button_fullwidth" ng-class="{'button-disable':regForm.$invalid}">Send Mail</button>
                 <a  href="#login" class="button_fullwidth-2">Log in</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</section><!-- End register -->