
<div id="share-wrapper">
    <ul class="share-inner-wrp">
        <!-- Facebook -->
        <li class="facebook button-wrap"><a href="#" onclick="return false;">Facebook</a></li>

        <!-- Twitter -->
        <li class="twitter button-wrap"><a href="#" onclick="return false;">Tweet</a></li>

        <!-- Linked In -->
        <li class="linkedin button-wrap"><a href="#" onclick="return false;">Linked In</a></li>

        <!-- whatsapp -->
        <li class="whatsapp button-wrap hidden-lg hidden-sm hidden-md"><a href="#" onclick="return false;">Whatsapp</a></li>

        <!-- Pinterest linked with pinterst js file at the top -->
        <li class="pinterest button-wrap"><a href="#" onclick="return false;">Pinterest</a></li>

        <!-- Google -->
        <li class="google button-wrap"><a href="#" onclick="return false;">Google+</a></li>

    </ul>
</div>

<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center margin-top-20">
			<h1>News page</h1>
            <p class="lead no_margin padding-top-10">
                Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix.
            </p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

<div class="container padding-top-10">
    
	 <div class="row">

     <div class="col-md-8">
         <a href="#news_events" class="button_red_small pull-right">Back</a>
         <h3>SIMPLY DUMMY TEXT<small>Published on : December 25th 2014</small></h3>
         <p><img src="../../img/certification.jpg" alt="Pic" class="img-responsive"></p>
             <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
             <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

             <h4>Text of the printing</h4>
             <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
             <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
     </div><!-- End col-md-8-->

         <aside class="col-md-4">
             <div class=" box_style_1">
                 <div class="widget margin-top-20">
                     <div class="input-group">
                         <input type="text" class="form-control changeheight" placeholder="Search...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button"><i class="icon-search"></i></button>
						</span>
                     </div><!-- /input-group -->
                 </div><!-- End Search -->

                 <div class="widget">
                     <h4>Featured Events</h4>

                     <ul class="recent_post">
                         <li>
                             <i class="icon-calendar-empty"></i> 16th July, 2020
                             <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                         </li>
                         <li>
                             <i class="icon-calendar-empty"></i> 16th July, 2020
                             <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                         </li>
                         <li>
                             <i class="icon-calendar-empty"></i> 16th July, 2020
                             <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                         </li>
                         <li>
                             <i class="icon-calendar-empty"></i> 16th July, 2020
                             <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                         </li>
                     </ul>
                 </div><!-- End widget -->

             </div><!-- End box-sidebar -->
         </aside><!-- End aside -->

     </div>  <!-- End row-->
</div><!-- End container -->
</section><!-- End main_content-->

<!-- Pinterest -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

<script type="text/javascript">
    stLight.options({
        publisher: "b3e2871d-7dd8-4d0b-a8c1-00ca9ee541a8",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: false});
</script>

<script>
    var options={ "publisher": "b3e2871d-7dd8-4d0b-a8c1-00ca9ee541a8", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "pinterest", "linkedin", "whatsapp", "googleplus"]}};
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>