
<section id="login_bg">
<div  class="container">
<div class="row">
	<div class="row">
		<div id="success" class="notify successbox" style="display:none">
			<span class="pull-right close">&#10006;</span>
			<i class="icon-ok"> </i>
			<span class="body-content">Your Email Verified Successfully. You can login now with your account.</span>
		</div>
		<div id="error" class="notify successbox" style="display:none">
			<span class="pull-right close">&#10006;</span>
			<span class="error-icon">&#10006; </span>
			<span class="body-content"> Your Email not Verified Succeffuly. Kindly Submit the Valid Email ID or <a>RESEND</a> the Verification Code</span>
		</div>
	</div> <!-- end row --> 
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id="login">
			<p class="text-center">
				<img src="../../img/login_logo.png" alt="">
			</p>
			<hr>
			<form name="resetPasswordForm" novalidate> 
				<div class="form-group">
					<input type="password" name="password" class=" form-control required" ng-model="password" placeholder="Password" required>
					<span class="input-icon"><i class=" icon-lock"></i></span>
					<span ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$invalid"> 
    				<span class="error-message" ng-show="resetPasswordForm.password.$error.required" class="help-inline"><span>Required.</span>
    				</span>
				</div>
				<div class="form-group">
					<input type="password" class=" form-control required" name="confirmpassword" placeholder="Confirm password" required ng-model="confirmPassword" compare-to="password">
					<span class="input-icon"><i class=" icon-lock"></i></span>
					<span ng-show="resetPasswordForm.confirmpassword.$dirty && resetPasswordForm.confirmpassword.$invalid">
    				<span class="error-message" ng-show="resetPasswordForm.confirmpassword.$error.compareTo"  ng-show="frm.password.$valid && frm.confirmpassword.$invalid" class="help-inline"><span>Must&nbsp;match&nbsp;with&nbsp;password.</span></span>
    				</span>
				</div>
				<button type="submit" class="button_fullwidth margin-top-20" ng-disabled="resetPasswordForm.$invalid" ng-class="{'button-disable':resetPasswordForm.$invalid}" ng-click="resetPassword()">Reset Password</button>
			</form>
		</div>
	</div>
</div>
</div>
</section> <!-- End login -->

<script type="text/javascript">

    $(document).ready(function () {
    $('#download').click(function(){                

            var params = $('#params_').clone();
            var csrftoken = $("#csrftoken_").clone();
            $('<form target="_blank" action="report" method="post"></form>')
                .append(params)
                .append(csrftoken)
                .appendTo('body')
                .submit()
                .remove();

        });
    });
</script>

<script type="text/javascript">
	$('.notify').on('click',function(){
		$(this).fadeOut(350, function(){
			$(this).remove(); // after fadeout remove from DOM
		});
	});
</script>